<html>
<head>
<title>Sketchpad</title>
<link rel="stylesheet" type="text/css" href="../static/style.css" /> 

<script type="text/javascript" src="../static/app.js"></script> 

</head>

<body onload="init()">
    <div id="sketchpadapp">
        <div class="leftside">
             Touchscreen and mouse support HTML5 canvas sketchpad.<br/><br/>
             Draw something by tapping or dragging.<br/><br/>
             Works on iOS, Android and desktop/laptop touchscreens using Chrome/Firefox/Safari.<br/><br/>
             <input type="submit" value="Clear Sketchpad" id="clearbutton" onclick="clearCanvas(canvas,ctx);">
        </div>
        <div class="rightside">
            <canvas id="sketchpad" height="600" width="1000">
            </canvas>  
            <form method="POST" action="/" name="form1">
                <input type="hidden" id="save">
                <button onclick="saveImage()">Submit</button>
            </form>          
            
        </div>
    </div>
</body>
</html>